.header {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

.profile-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid #9a9999;
}
