@import '_styles';

.bio {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

.profile-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid $primary;
}

.quote {
  padding: 0.25rem 0.5rem;
  border: 1px solid $primary;
  background-color: $secondary40;
  border-radius: 0.5rem;
  color: $text;
}

// mobile layout
.display {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  .name{
    margin: 0;
  }
  .job-title {
    margin: 0;
  }
}

// tablet and larger layout
@media screen and (min-device-width: 750px) {
  .display {
    display: flex;
    flex-direction: row;
    .name {
      margin: 0;
      margin-bottom: 0.5rem;
      margin-right: 0.25rem;
    }
    .job-title {
      margin-top: 0.5rem;
    }
  }
}
