@import '_styles';

.home {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none !important;
}

.navbar {
  display: flex;
  align-items: center;

  li {
    list-style-type: none;
  }
  a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.MuiBox-root {
  li {
    list-style-type: none;
  }

  a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

button {
  span {
    margin: 0px !important;
  }
}
